In [ ]:
# Get the radius value as input and calculate the area of the circle. If the input is numeric, display the result otherwise display any other message.
while True:
    try:
        r = float(input("Please Enter the Radius: "))
        break
    except ValueError:
        print("Error: Invalid input. Please enter an integer.")

area = 3.1416 * r ** 2
print('Circle Area:%.2f' %area)

'''Please Enter the Radius: 6
Circle Area:113.10'''

Please Enter the Radius: 2.3
Circle Area:16.62

'Please Enter the Radius: 6\nCircle Area:113.10'

In [ ]:
#If the user enters numeric value then asks user to for either perimeter or area calculation and display accordingly

while True:
    try:
        value = float(input("Please Enter the value: "))
        break
    except ValueError:
        print("Error: Invalid input. Please enter an integer.")

options = input("Enter 'P' for perimeter or 'A' for area:")

if options == "P" or options == "p":
  perimeter = 4 * value
  print('Perimeter is: %.2f' %perimeter)
elif options == "A" or options == "a":
  area = value ** 2
  print('Area is: %.2f' %area)
else:
  print("Choose right P or A")

'''Please Enter the value: 2.08
Enter 'P' for perimeter or 'A' for area:a
Area is: 4.33
'''
'''Please Enter the value: 3.55
Enter 'P' for perimeter or 'A' for area:P
Perimeter is: 14.20'''

Please Enter the value: 3.55
Enter 'P' for perimeter or 'A' for area:P
Perimeter is: 14.20

"Please Enter the value: 2.08\nEnter 'P' for perimeter or 'A' for area:a\nArea is: 4.33\n"

In [ ]:
#Check if there is a student named 'Maria' in students_profile dictionary. If exists remove 'ML' from her course

students_profile={'Duy': ['Python', 'Database', 'ML'], 
                  'Laxmi': ['Python', 'Database', 'ML'],
                  'Antonio': ['Python', 'Database', 'ML'],
                  'Maria': ['Python', 'Database', 'ML']}

if 'Maria' in students_profile: # Check if Maria is in the dictionary
   students_profile['Maria'].remove('ML') # If she is, remove 'ML' from her courses
   print("Succesfully Deleted ML course")

'''Succesfully Deleted ML course'''

Succesfully Deleted ML course

In [ ]:
# Take input from user and check if substring is present in the string

substring_input = str(input("Enter Substring to check: "))
string_input = str(input("Enter your string: "))

if substring_input in string_input:
  print(f"'{substring_input}' is in '{string_input}'.")
else:
  print(f"'{substring_input}' is not in '{string_input}'.")

'''Enter Substring to check: hehehhehe
Enter your string: hehehhehehehehhehehhe
'hehehhehe' is in 'hehehhehehehehhehehhe'.

Enter Substring to check: hello
Enter your string: world
'hello' is not in 'world'.'''

Enter Substring to check: hello
Enter your string: world
'hello' is not in 'world'.

"Enter Substring to check: hehehhehe\nEnter your string: hehehhehehehehhehehhe\n'hehehhehe' is in 'hehehhehehehehhehehhe'."

In [ ]:
point_1 = (1,2,3)
point_2 = (4,5,6)

while True:       # Define the order & check integer
  try:
    order = int(input("Enter a Integer value: "))
    break
  except ValueError:
    print("Enter a valid Integer Value!!!")

# Calculate the distance based on the order
if order == 1:     # L1 norm (Manhattan distance)

  distance = sum(abs(p1-p2) for p1, p2 in zip(point_1, point_2)) 
elif order == 2:     # L2 norm (Euclidean distance)

  distance = (sum((p1-p2) ** 2 for p1, p2 in zip(point_1, point_2))) ** 0.5
else:      # Generalized distance (Minkowski equation)

  distance = (sum(abs(p1-p2)** order for p1, p2 in zip(point_1, point_2))) ** (1/order)


print(f"The distacne between{point_1} and {point_2} for order {order} is : {distance: .2f}")

'''Enter a Integer value: dd
Enter a valid Integer Value!!!
Enter a Integer value: 33
The distacne between(1, 2, 3) and (4, 5, 6) for order 33 is :  3.10'''

Enter a Integer value: dd
Enter a valid Integer Value!!!
Enter a Integer value: 33
The distacne between(1, 2, 3) and (4, 5, 6) for order 33 is :  3.10

In [ ]:
#Write a multiplication table for any given number using both for and while loop
#Using For loop

while True:
  try:
    Number = int(input("Enter a Number: "))
    break
  except ValueError:
    print("Enter a Integer Value")

for i in range(1,11):
  product = Number * i
  print(Number, "x", i, "=", product)

'''Enter a Number: dd
Enter a Integer Value
Enter a Number: 22
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220'''

Enter a Number: dd
Enter a Integer Value
Enter a Number: 22
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

In [ ]:
#Write a multiplication table for any given number using both for and while loop
#While loop

while True:
  try:
    number = int(input("Enter a value: "))
    break
  except ValueError:
    print("Enter a Interger value")

i = 1
while i<=10:
  print(number, 'x', i, '=', number*i)
  i += 1

'''Enter a value: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60'''

Enter a value: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

DNA is coded using 4 nitrogen bases with the symbols A,T,G,C. Given the template string dna_template='AATCCGAAAATTCGGGAATTTTCGCGT' , generate the complementary dna template with the mapping

mapper={"T":"A","A":"T","G":"C","C":"G"}

In [ ]:

dna_template = 'AATCCGAAAATTCGGGAATTTTCGCGT'
mapper = {"T":"A","A":"T","G":"C","C":"G"}
complementary_dna_templete = ""

for i in dna_template:
  complementary_dna_templete += mapper[i]
print(complementary_dna_templete)

'''TTAGGCTTTTAAGCCCTTAAAAGCGCA
'''

TTAGGCTTTTAAGCCCTTAAAAGCGCA

In [ ]:
#Fibonacci series
x = [0,1]
value = int(input("Enter the range of number: "))
# Generate the Fibonacci series up to the desired length
while len(x) < value:
    next_num = x[-1] + x[-2]
    x.append(next_num)

# Print the Fibonacci series
print(x)

'''Enter the range of number: 13
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]'''

In [ ]:
#Generate a list of n numbers of prime numbers
def generate_primes(n):
    primes = [2]  # start with the first prime number
    num = 3  # start checking for primes from 3
    while len(primes) < n:
        if all(num % i != 0 for i in range(2, int(num ** 0.5) + 1)):
            primes.append(num)
        num += 2  # check only odd numbers for efficiency
    return primes
generate_primes(12)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [ ]:
import numpy as np

data1 = [1,17,12,15,30,60,48,51,89,92,54,8]
data2 = [-13,2,-1,7,22,-32,5,15,-9,13,3,-2]

# Min-max normalization for data1 in range [0, 1]
data1_min = np.min(data1)
data1_max = np.max(data1)

#X_scaled = (X - X_min) / (X_max - X_min)

data1_scaled = [(data1 - data1_min) / (data1_max - data1_min)]

print("Data1 Min-Max Normalized to [0,1]:")
print(data1_scaled)

#minmax normalization to the range [-1,1] for the data2

data2_min = np.min(data2)
data2_max = np.max(data2)

#X_scaled = 2 * (X - X_min) / (X_max - X_min) - 1

data2_scaled = [2 * (data2 - data2_min) / (data2_max - data2_min) - 1]

print("Data2 Min-Max Normalized to [-1,1]:")
print(data2_scaled)

'''Data1 Min-Max Normalized to [0,1]:
[array([0.        , 0.17582418, 0.12087912, 0.15384615, 0.31868132,
       0.64835165, 0.51648352, 0.54945055, 0.96703297, 1.        ,
       0.58241758, 0.07692308])]
Data2 Min-Max Normalized to [-1,1]:
[array([-0.2962963 ,  0.25925926,  0.14814815,  0.44444444,  1.        ,
       -1.        ,  0.37037037,  0.74074074, -0.14814815,  0.66666667,
        0.2962963 ,  0.11111111])]'''

Data1 Min-Max Normalized to [0,1]:
[array([0.        , 0.17582418, 0.12087912, 0.15384615, 0.31868132,
       0.64835165, 0.51648352, 0.54945055, 0.96703297, 1.        ,
       0.58241758, 0.07692308])]
Data2 Min-Max Normalized to [-1,1]:
[array([-0.2962963 ,  0.25925926,  0.14814815,  0.44444444,  1.        ,
       -1.        ,  0.37037037,  0.74074074, -0.14814815,  0.66666667,
        0.2962963 ,  0.11111111])]

In [ ]:
##Bubble Sort:
def bubble_sort(arr):
  n = len(arr)
  for i in range(n):
    for j in range(0, n-i-1):
      if arr[j]>arr[j+i]:
        arr[j], arr[j+i] = arr[j+i], arr[j]
  return arr
#Time Complexity: O(n^2)

#selection sort
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if arr[j] < arr[min_idx]:
                min_idx = j
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr
#Time Complexity: O(n^2)

#insertion sort
def insertion_sort(arr):
    n = len(arr)
    for i in range(1, n):
        key = arr[i]
        j = i - 1
        while j >= 0 and key < arr[j]:
            arr[j+1] = arr[j]
            j -= 1
        arr[j+1] = key
    return arr
#Time Complexity: O(n^2)

In [ ]:

def add_num(x, y):
    """
Adds two numbers together and returns the result.

    """ 
    return x+y


print(add_num.__doc__)


def square(n):
  '''Takes in a number n, returns the square of n'''
  return n ** 2


print(square.__doc__)


'''Adds two numbers together and returns the result.
   
Takes in a number n, returns the square of n'''

Adds two numbers together and returns the result.


Takes in a number n, returns the square of n

In [ ]:
#Write a function factorial of a given number

def factorial(n):
  if n ==0:
    return 1
  else:
    return n * factorial(n-1)

factorial(5)

'''120'''

120

In [ ]:
from ast import Raise
#Write a function that takes two arguments: activation_function name and value that returns the 
#output of specific activation_function. 
#Implement for sigmoid, binary step function, relu, leaky rely, tanh.

import math 
def activation_function(name, value):
  if name == 'sigmoid' :
    return 1 / (1 + math.exp(-value))
  elif name == 'binary step':
    return 1 if value>=0 else 0
  elif name == 'relu':
    return max(0, value)
  elif name == 'leaky rely':
    return max(0.01 * value, value) 
  elif name == 'tanh':
    return math.tanh(value)
  else:
    raise ValueError('Invalid activation function name')


activation_function('sigmoid', 0)
'''0.5'''
activation_function('relu', 0)
'''0'''

0

In [ ]:
#Write a function that returns permutation.
from math import factorial

def permutation(n, r):
  return factorial(n)/ factorial(n-r)


permutation(10,3)
'''720.0
'''

720.0

In [ ]:
#Local variables
def my_function():
    x = "hello"
    print(x)

my_function()


#enclosing or non local variables 
def outer_function():
    x = "hello"
    
    def inner_function():
        print(x)
    
    inner_function()

outer_function()

#Global variables 
x = "hi"

def my_function():
    print(x)

my_function()

#Build in variables
print("Hello, world!")