In [ ]:
from functools import reduce 

def square(x):
  return x**2 #rerurn the square of the number

def product(x,y):
  return x * y  #return the multiplication of two numbers

if __name__ == '__main__' :
  numbers = [1,2,3,4,5,6,7,8,9,10]. ## Define a list of numbers

squared = list(map(square, numbers)) ## Use map() to square each element of the list
print(squared) #output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


even_number = list(filter(lambda x: x%2==0, numbers)) ## Use filter() to remove all odd numbers from the list
print(even_number) #output: [2, 4, 6, 8, 10]

product_even_numbers = reduce(product, even_number) ## Use reduce() to find the product of all even numbers in the list
print(product_even_numbers) #output: 3840

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10]
3840

In [ ]:
#Create a list apply iter method to it and run next method
my_list = [1, 2, 3, 4, 5]
my_iterator = iter(my_list)

while True:
    try:
        element = next(my_iterator)
        print(element)
    except StopIteration:
        break

'''
1
2
3
4
5
'''

In [ ]:
#count
import itertools

for i in itertools.count():
    print(i)
    if i > 3:
        break
'''
0
1
2
3
4'''

0
1
2
3
4

In [ ]:
#cycle 
import numpy as np

list1 = np.arange(3)

def sum_value(n):

  for i in itertools.cycle(list1):
      print(i)
      n += i
      if n > 10:
          break

sum_value(3)
'''
0
1
2
0
1
2
0
1
2'''

0
1
2
0
1
2
0
1
2

In [ ]:
#repeat

import itertools
def sum_value(n):

  for i in itertools.repeat(10):
      print(i)
      n += i   #Create an infinite iterator using repeat method
      if n > 40:
       break

sum_value(10)

'''
10
10
10
10'''

10
10
10
10

In [ ]:
import itertools

numbers = [1, 2, 3, 4, 5]
cumulative_sum = itertools.accumulate(numbers)

print(list(cumulative_sum)) 

'''[1, 3, 6, 10, 15]'''

[1, 3, 6, 10, 15]

'[1, 3, 6, 10, 15]'

In [ ]:
import itertools
def chain(iterables):
  for it in iterables:
    for element in it:
      yield element

chain('ABC')

In [ ]:
def from_iterable(x):
  for it in x:
    for element in it:
      yield element

In [ ]:
def compress(data, selectors):
    # compress('ABCDEF', [1,0,1,0,1,1]) --> A C E F
    return (d for d, s in zip(data, selectors) if s)

In [ ]:
def dropwhile(predictate, iterable):
  iterable = iter(iterable)
  for x in iterable:
    if not predictate(x):
      yield x
      break
  for x in iterable:
    yield x

dropwhile(lambda x: x<5, [1,4,6,4,1])

In [ ]:
def filterfalse(predicate, iterable):
  if predicate is None:
    predicate = bool
  for x in iterable:
    if not predicate(x):
      yield x

In [ ]:
#Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

import re
#def is_alphanumeric(input_string):
  #samp = r'^[a-zA-Z0-9]+$'
  #return bool(re.match(samp, input_string))

#print(is_alphanumeric("asce345sssc")) #True


def check_text(text):
  sampling = '^[a-zA-Z0-9]+'
  if re.match(sampling, text):
    print('Found!!')
  else:
    print('Not Found!!')

check_text('AAzzsdd333') #Found!!

Found!!

In [ ]:
#Write a Python program that matches a string that has an a followed by zero or more b's
import re

#def text_match(text):
  #patterns = r'^a[b]*$'
  #return bool(re.match(patterns, text))
#text_match('abb') #True

def text_matching(texted):
  samplee = 'a(b*)$'
  if re.match(samplee, texted):
    print('Found!!')
  else:
    print('Not Found!!')

text_matching('abbb') #Found!!

Found!!

In [ ]:
#Write a Python program that matches a string that has an a followed by one or more b's.
import re 

def text_match(text):
  patterns = 'ab+?'
  if re.match(patterns, text):
    print('Match found')
  else:
    print("Match is not found")

text_match('abbbcc')  #Match found

Match found

In [ ]:
#Write a Python program that matches a string that has an a followed by zero or one 'b'.

import re 

def return_text(text):
  pattern = 'ab?'
  if re.match(pattern, text):
    print('Found')
  else:
    print('Not Found')

return_text('ccccww') #Not Found

Not Found

In [ ]:
#6.Write a Python program that matches a string that has an a followed by two to three 'b'.

import re

def check_text(samp):
  pattern = 'ab{2,3}?'
  if re.match(pattern, samp):
    print('Found')
  else:
    print('Not Found')

check_text('abddc') #Not Found

In [ ]:
#7. Write a Python program to find sequences of lowercase letters joined by an underscore.

import re 
def lowercase(text):
  pattern = '^[a-z]+_[a-z]+$'
  if re.match(pattern, text):
    print('Found')
  else:
    print('Not FOund')

lowercase('_Adndsv') #Not FOund

Not FOund

In [ ]:
#8. Write a Python program to find the sequences of one upper case letter followed by lower case letters.

import re 
def upper_lowercase(text):
  pattern = '^[A-Z]+[a-z]+$'
  if re.match(pattern, text):
    print('Found')
  else:
    print('Not FOund')

upper_lowercase('AAZZvbevibw') #Found

Found

In [ ]:
#9. Write a Python program that matches a string that has an 'a' followed by anything ending in 'b'.

import re 
def upper_lowercase(text):
  pattern = 'a.*?b$'
  if re.match(pattern, text):
    print('Found')
  else:
    print('Not Found')

upper_lowercase('aAAZZvbevib') #Found

Found

In [ ]:
#10. Write a Python program that matches a word at the beginning of a string. 
import re 
def upper_lowercase(text):
  pattern = '^\w+'
  if re.match(pattern, text):
    print('Found')
  else:
    print('Not Found')

#upper_lowercase('my name is ARIF') #Found
upper_lowercase(' my name is ARIF') #Not Found
\w+\S*$

Not Found

In [ ]:
#11. Write a Python program that matches a word at the end of a string, with optional punctuation.
import re 
def text_match(text):
  pattern = '\w+\S*$'
  if re.search(pattern, text):
    print('Found')
  else:
    print('Not Found')

text_match('My name is ARIF.') #Found
#text_match(' my name is ARIF. ') #Not Found

Found

In [ ]:
#12. Write a Python program that matches a word containing 'z'.
import re 
def text_match(text):
  pattern = 'z+'
  if re.search(pattern, text):
    print('Found')
  else:
    print('Not Found')

text_match('dddddvewwec.')#Not Found
text_match('az durjoy') #Found

Not Found
Found

In [ ]:
#13. Write a Python program that matches a word containing 'z', not the start or end of the word.
import re 
def text_match(text):
  pattern = '\Bz\B'
  if re.search(pattern, text):
    print('Found')
  else:
    print('Not Found')

#text_match('my name is az') #Not Found
#text_match('zhen euro') #Not Found
text_match('give me hazzle nut') #Found

Found

In [ ]:
#14. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
import re 
def text_match(text):
  pattern = '^[a-zA-Z0-9_]*$'
  if re.search(pattern, text):
    print('Found')
  else:
    print('Not Found')

text_match('Integrify_Assignment_4') #Found
text_match('give me hazzle nut') #Not Found

Found
Not Found

In [ ]:
#15. Write a Python program that starts each string with a specific number.
import re 
def text_match(text):
  pattern = '^[a-zA-Z0-9_]*$'
  if re.search(pattern, text):
    print('Found')
  else:
    print('Not Found')

text_match('Integrify_Assignment_4')

In [ ]:
#Suppose we want to create an output list which contains only the even numbers which are present in the input list. 
# Constructing output list WITHOUT
# Using List comprehensions


my_list = [1,2,3,4,5,6,6,7,8,10,11,12]

output = []
for i in my_list:
  if i %2 ==0:
    output.append(i)

print("Output List using for loop:", output)
#Output List using for loop: [2, 4, 6, 6, 8, 10, 12]

Output List using for loop: [2, 4, 6, 6, 8, 10, 12]

In [ ]:
#Suppose we want to create an output list which contains squares of all the numbers from 1 to 9. 

# Constructing output list using for loop

square_list = []

for x in range(1,10):
  square = x**2
  square_list.append(square)

print("Output List using for loop:", square_list)

'''Output List using for loop: [1, 4, 9, 16, 25, 36, 49, 64, 81]
'''

Output List using for loop: [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Suppose we want to create an output dictionary which contains only the odd numbers 
#that are present in the input list as keys and their cubes as values.


index_list = [1,2,3,4,5,6,7,8,9]

out_dict = {}

for x in index_list:
  if x%2 !=0 :
    out_dict[x] = x ** 3
print("Output Dictionary using for loop:", out_dict )

'''Output Dictionary using for loop: {1: 1, 3: 27, 5: 125, 7: 343, 9: 729}
'''

Output Dictionary using for loop: {1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [ ]:
#Given two lists containing the names of states and their corresponding capitals, 
#construct a dictionary which maps the states with their respective capitals.
capital = ['Berlin', 'Helsinki', 'Budapest']
state = ['Germany', 'Finland', 'Hungary']

output_dict = {}

# Using loop for constructing output dictionary
for (key, value) in zip(state, capital):
	output_dict[key] = value

print("Output Dictionary using for loop:",
							output_dict)

'''Output Dictionary using for loop: {'Germany': 'Berlin', 'Finland': 'Helsinki', 'Hungary': 'Budapest'}
'''

Output Dictionary using for loop: {'Germany': 'Berlin', 'Finland': 'Helsinki', 'Hungary': 'Budapest'}

In [ ]:
#Suppose we want to create an output set which contains only the even numbers that are present in the input list. 
#Note that set will discard all the duplicate values.

input_list = [1,2,3,4,5,5,6,6,7,8,8,9,0]
output_set = set()

for x in input_list:
  if x % 2 ==0:
    output_set.add(x)
  else:
    pass
print("Output Set using for loop:", output_set)

'''Output Set using for loop: {0, 2, 4, 6, 8}
'''

Output Set using for loop: {0, 2, 4, 6, 8}

In [ ]:
#Write a multiplication table of any given number in a list using list comprehension

input_val = int(input('Enter Any Number: '))

multi = [input_val * i for i in range(1, 11)]

print(multi)

'''Enter Any Number: 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]'''

Enter Any Number: 4
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [ ]:
#Find all numbers from 1 to 500 that has 5 in them

five = [n for n in range(1,501) if '5' in str(n)]
print(five)
'''[5, 15, 25, 35, 45, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 65, 75, 85, 95, 105, 115, 125, 135, 145, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 165, 175, 185, 195, 205, 215, 225, 235, 245, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 265, 275, 285, 295, 305, 315, 325, 335, 345, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 365, 375, 385, 395, 405, 415, 425, 435, 445, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 465, 475, 485, 495, 500]
'''

[5, 15, 25, 35, 45, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 65, 75, 85, 95, 105, 115, 125, 135, 145, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 165, 175, 185, 195, 205, 215, 225, 235, 245, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 265, 275, 285, 295, 305, 315, 325, 335, 345, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 365, 375, 385, 395, 405, 415, 425, 435, 445, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 465, 475, 485, 495, 500]

In [ ]:
items = ["apple", True, 10, "banana", 20, 30, 4.0, "grapes", "laptop", "phone", False, 0]

non_str = [item for item in items if not isinstance(item, str)]
print(non_str)

is_numeric = [isinstance(item, (int, float)) for item in items]
print(is_numeric)

'''[True, 10, 20, 30, 4.0, False, 0]
'''
'''[False, True, True, False, True, True, True, False, False, False, True, True]
'''

[True, 10, 20, 30, 4.0, False, 0]
[False, True, True, False, True, True, True, False, False, False, True, True]

'[True, 10, 20, 30, 4.0, False, 0]\n'

In [ ]:
files = ["cat1.png", "dog1.png", "cat2.png", "cat3.png", "cat4.png", "dog2.png", "cat5.png", "cat6.png", "dog3.png"]

cat_file = [file for file in files if file.startswith('cat')]
dog_file = [file for file in files if file.startswith('dog')]



print("Cat files:", cat_file)
print("Dog files:", dog_file)

'''Cat files: ['cat1.png', 'cat2.png', 'cat3.png', 'cat4.png', 'cat5.png', 'cat6.png']
Dog files: ['dog1.png', 'dog2.png', 'dog3.png']'''

Cat files: ['cat1.png', 'cat2.png', 'cat3.png', 'cat4.png', 'cat5.png', 'cat6.png']
Dog files: ['dog1.png', 'dog2.png', 'dog3.png']